<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'products/style.css' %}" />
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

 <div class="container">
  <script type="text/javascript"><!--
amazon_ad_tag = "cnprco-20"; amazon_ad_width = "728"; amazon_ad_height = "90";//--></script>
<script type="text/javascript" src="http://ir-na.amazon-adsystem.com/s/ads.js"></script>
   <img src="/media/logo.png" class="logo" />
  <div class="jumbotron">

    <h1>Deal Genie</h1>
    <p>Where all your deals come true!!</p>
    *Check back often site updated 24/7


  </div>
  <center>
  <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_cw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcnprco-20%2F8010%2F774fad5d-b3d3-4af5-bacf-ca3ef38217d4&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_cw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcnprco-20%2F8010%2F774fad5d-b3d3-4af5-bacf-ca3ef38217d4&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
</center>

  <div class="row">
    <div class="col-sm-4">
      <h3>Holiday Shopping</h3>

      <!-- St Patricks day -->
      <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=cnprco-20&o=1&p=12&l=ur1&category=stpat14&banner=01C8EHJXMMGMF8CG05G2&f=ifr&linkID=4FZ7XLOHVGPWL2Z4" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
      <h3>iPhone</h3>
      <br />
      <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=cnprco-20&o=1&p=12&l=ur1&category=iphonepre&banner=00PNEQGZQZM5HAN9PRR2&f=ifr&lc=pf4&linkID=5M4XVC5CBHIBVKCZ" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
      
      <br />
      <h3>Amazon Daily Deals - Dont Miss!</h3>
      <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcnprco-20%2F8009%2F171b9976-9c12-4081-b706-2d7b492d4567&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcnprco-20%2F8009%2F171b9976-9c12-4081-b706-2d7b492d4567&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
    </div>
    <div class="col-sm-4">
      <h3>Stuff for the Family!</h3>
      <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=cnprco-20&o=1&p=12&l=ur1&category=amazonmom&banner=020BF7C3TW57X2SVDW82&f=ifr&linkID=DGA2L4AG2HOYSTLD" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

     <br />

     <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=cnprco-20&o=1&p=12&l=ur1&category=686snowboard&banner=0CKQWHE3FD69W3NCYF82&f=ifr&lc=pf4&linkID=2RDV2YNH54C4KV5A" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

     <br />
     <h3>Latest Music</h3>
     <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_w_mpw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcnprco-20%2F8014%2F1d0a5de5-ce50-4576-b34d-9efb441ab9e5&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_w_mpw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcnprco-20%2F8014%2F1d0a5de5-ce50-4576-b34d-9efb441ab9e5&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>

     <br />
     <h3>Awesome Tag Cloud of Deals</h3>
     <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcnprco-20%2F8006%2F6b8bdc1d-8ec1-4a51-8a04-3b220631c084"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcnprco-20%2F8006%2F6b8bdc1d-8ec1-4a51-8a04-3b220631c084&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
    </div>
    <div class="col-sm-4">
      <h3>Search Amazon For Great Deals!</h3>
       <script charset="utf-8" type="text/javascript">
amzn_assoc_ad_type = "responsive_search_widget";
amzn_assoc_tracking_id = "cnprco-20";
amzn_assoc_link_id = "WFDPSK65K7JARMVB";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_placement = "";
amzn_assoc_search_type = "search_widget";
amzn_assoc_width = 350;
amzn_assoc_height = 700;
amzn_assoc_default_search_category = "";
amzn_assoc_default_search_key = "";
amzn_assoc_theme = "light";
amzn_assoc_bg_color = "FFFFFF";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>

<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=cnprco-20&o=1&p=12&l=ur1&category=wedding&banner=0V25V9VVT7QKDNRKT482&f=ifr&linkID=NWHKMJXVKTFJWV3A" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>


    </div>
  </div>
</div>

</body>
</html>